<h3>{{t cms.posts.newPost}}</h3>

{{log "controller=" controller}}
{{#em-form model=controller}}
  {{partial "posts/fields"}}
{{/em-form}}

<div class="row">
  {{em-button class="btn" default=(t cms.general.button.cancel) on-click="cancel"}}
</div>

{{outlet}}
