<h3>NEW POST</h3>

{{log "controller=" controller}}
{{#em-form model=controller}}
  {{em-input property="title" label="Title" placeholder="Enter a title..."}}
  {{em-text property="text" label="Text" placeholder="Enter a text..."}}
{{/em-form}}

<div class="row">
  {{em-button class="btn" default="Cancel" on-click="cancel"}}
</div>

{{outlet}}
