<div class="container">
  <h3>{{t 'cms.general.registration'}}</h3>

  {{#em-form model=controller}}
    {{em-input property="username" label=(t 'cms.users.username') placeholder=(t-p 'cms.users.username')}}
    {{em-input property="firstName" label=(t 'cms.users.firstName') placeholder=(t-p 'cms.users.firstName')}}
    {{em-input property="lastName" label=(t 'cms.users.lastName') placeholder=(t-p 'cms.users.lastName')}}
    {{#if isNew}}
      {{em-input type="password" property="password" label=(t 'cms.users.password') placeholder=(t-p 'cms.users.password')}}
      {{em-input type="password" property="password" label=(t 'cms.users.password') placeholder=(t-p 'cms.users.passwordAgain')}}
    {{/if}}
  {{/em-form}}

</div>

{{outlet}}
