<h3>{{t cms.posts.post}}</h3>

{{#em-form model=controller}}
  {{partial "posts/fields"}}
{{/em-form}}

{{!{{#each tags as |tag|}}
{{!    <span class="badge">
{{!      {{tag}}
{{!    </span>
{{!{{/each}}

<div class="row">
  {{em-button class="btn" default=(t cms.general.button.cancel) on-click="cancel"}}
  {{#unless isNew}}
    {{em-button class="btn" default=(t cms.general.button.delete) on-click="delete"}}
  {{/unless}}
</div>

{{outlet}}
