<nav class="navbar navbar-default">
  <!--.navbar-fixed-top-->
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand">
        {{t cms.general.appName}}
      </a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li class="active">
          <a href="#">
            {{t cms.menu.home}}
          </a>
        </li>
        <li>
          <a href="users">
            {{t cms.menu.users}}
          </a>
        </li>
        <li>
          <a href="posts">
            {{t cms.menu.posts}}
          </a>
        </li>
      </ul>
      <!--//ul.nav.navbar-nav.navbar-right-->
      <ul class="nav navbar-nav navbar-right">
        <li>
            <a href="login">
              {{t cms.menu.login}}
            </a>
        </li>
        <li class="dropdown">
          <a class="dropdown-toggle" href="#" data-toggle="dropdown" role="button" aria-expanded="false">
            {{t cms.menu.loggedUser}}
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li>
              <a href="logout">
                {{t cms.menu.logout}}
              </a>
            </li>
            <li>
              <a href="profile">
                {{t cms.menu.profile}}
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="content">
  {{outlet}}
</div>
